version: 2

references:
  container_config: &container_config
    docker:
      - image: circleci/node:10.0.0
    working_directory: ~/memo

  attach_workspace: &attach_workspace
    attach_workspace:
      at: ~/memo

jobs:
  setup:
    <<: *container_config
    steps:
      - checkout
      - run: node -v
      - run: npm -v
      - run: npm install
      - run:
          command: |
            set +eo
            npm ls
            true
      - persist_to_workspace:
          root: ~/memo
          paths:
            - node_modules
  lint:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
  test:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - run: npm run codecov
      - run: bash <(curl -s https://codecov.io/bash) -t cdf5917e-b38d-4156-a9d6-6a405484b930

workflows:
  version: 2
  build:
    jobs:
      - setup
      - test:
          requires:
            - setup
      - lint:
          requires:
            - setup
