version: 2

references:
  container_config: &container_config
    docker:
      - image: circleci/node:10.16.0
    working_directory: ~/memo

  attach_workspace: &attach_workspace
    attach_workspace:
      at: ~/memo

jobs:
  setup:
    <<: *container_config
    steps:
      - checkout
      - run: node -v
      - run: npm -v
      - run: npm install
      - run:
          command: |
            set +eo
            npm ls
            true
      - persist_to_workspace:
          root: ~/memo
          paths:
            - node_modules
  lint:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - run: npm run lint
  test:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - run: npm run codecov
      - run: bash <(curl -s https://codecov.io/bash) -t cdf5917e-b38d-4156-a9d6-6a405484b930
  dist:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - run:
          name: dist
          when: on_success
          command: npm run build
      - persist_to_workspace:
          root: ~/memo
          paths:
            - dist
  deploy:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - add_ssh_keys:
          fingerprints:
            - 'e9:66:f5:03:68:81:21:5d:8c:b7:ec:d7:11:b7:96:e9'
      - run:
          name: deploy
          when: on_success
          command: npm run deploy

workflows:
  version: 2
  build:
    jobs:
      - setup:
          filters:
            branches:
              ignore: gh-pages
      - test:
          requires:
            - setup
      - lint:
          requires:
            - setup
      - dist:
          requires:
            - test
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - dist
