.MainPage img {
  width: 100%;
}

.MainPage {
  height: 100vh;
  min-height: 100vh;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.MainPage .list-item {
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-left: 10px;
}

.MainPage .list-item:hover {
  background: #e6f7ff;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.MainPage ul {
  margin-top: 4px;
  margin-bottom: 8px;
  list-style: none;
}

.MainPage li {
  margin-top: 8px;
  margin-bottom: 8px;
  list-style: none;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
