.MainPage img {
  width: 100%;
}

.MainPage {
  height: 100vh;
  min-height: 100vh;
}

.MainPage .list-item {
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-left: 10px;
}

.MainPage .list-item:hover {
  background: #e6f7ff;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
