.util-list .list-item {
  cursor: pointer;
  padding: 0px 8px;
  border: 1px solid #e7e7e7;
  margin-bottom: -1px;
  height: 88px;
  line-height: 88px;
}

.util-list .list-item:hover {
  background: #e6f7ff;
}

.util-list {
  font-size: 21px;
  list-style: none;
  border-radius: 4px;
  margin: 16px;
}
