.header-wrapper {
  height: 48px;
  line-height: 48px;
  display: grid;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #e7e7e7;
  grid-template-columns: 40% auto 25%;
  font-size: 24px;
}

.header-wrapper .nav-list {
  display: grid;
  text-align: center;
  list-style: none;
  height: 100%;
}

.header-wrapper .nav-list-item {
  cursor: pointer;
  color: #777;
}

.header-wrapper .nav-list-item:hover {
  color: #555;
}

.header-wrapper .nav-list-item-active {
  background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  color: #555;
}
