<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="author" content="orzyyyy" />
    <meta name="robots" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="google" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="googlebot" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="verify" content="<%= htmlWebpackPlugin.options.description %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      ::-webkit-scrollbar {
        width: 10px;
        height: 16px;
        background-color: #f5f5f5;
      }

      ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f5f5f5;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #cadff2;
      }
    </style>
    <%= htmlWebpackPlugin.options.googleAnalytics %> <%= htmlWebpackPlugin.options.hotjar %>
  </head>

  <body>
    <%= htmlWebpackPlugin.options.environment %> <%= htmlWebpackPlugin.options.baseTag %>
    <div id="root"></div>
  </body>
</html>
